body {
    margin: 0;
    color: #464646;
}

body * {
    box-sizing: border-box;
}

#table-container {
    display: inline-block;
    position: relative;
    padding: 0.7em;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 0.5em;
    overflow: hidden;
    text-overflow: ellipsis;
}

th {
    text-align: left;
}

.st-sort-asc:after {
    content: '\25b3\0020';
}

.st-sort-desc:after {
    content: '\25bd\0020';
}

#overlay {
    display: none;
}

#overlay.st-working {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 999;
    background: white;
    opacity: 0.8;
    align-items: center;
    justify-content: center;
}

thead {
    border-bottom: 2px solid #343434;
}

tbody > tr:not(:first-child) {
    border-top: 1px solid #4b4b4b;
}

tbody > tr:nth-child(2n) {
    background: #e5f2fa;
}

[data-st-pagination] {
    text-align: right;
}

input {
    display: inline-block;
    width: 100%;
    padding: 0.2em;
    font-size: 1rem;
    border: 1px solid #7c7c7c;
}

input:focus {
    outline: none;
    outline-offset: 0;
    border: 1px solid #708ae6;
}

label {
    font-size: 0.8em;
    font-style: normal;
}