name: Node.js CI

on: [push]

jobs:
  build:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        node-version: [8.x, 10.x, 12.x]
        operating-system: [ubuntu-18.04]
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm ci
      - run: npm run build
      - name: Upload build artifacts
        uses: actions/upload-artifact@v1
        with:
          name: ${{matrix.node-version}}/dist
          path: dist
  test:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        node-version: [8.x, 10.x, 12.x]
        operating-system: [ubuntu-18.04]
    steps:
      - uses: actions/checkout@v2
      - name: Download build artifacts
        uses: actions/download-artifact@v1
        with:
          name: ${{matrix.node-version}}/dist
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm ci
      # - run: npm test
